@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@charset "UTF-8";

a {
    color: #000;
}

header {
    background: white;
}

.upper-header {
    position: relative;
}

.upper-header-background {
    height: 46px;
    position: relative;
    background: linear-gradient(270deg, #EFF4FC 53.91%, rgba(229, 229, 229, 0) 69.01%);
}

.upper-header-nav {
    height: 46px;
}

.upper-header-content {
    position: absolute;
    top:0;
    margin-left: 48.5%!important;
}

.lower-header-nav {
    height: 61px;
}

.upper-header-item {
    font-weight: 400;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

.lower-header-item {
    font-size: 14px;
    font-weight: 400;
}

body {
    font-family: "Open Sans", serif;
    background: #F5F7F9FC;
}

.login-register {
    font-weight: 600;
}

.whatsapp-logo {
    height: 24px;
    width: 24px;
}

.contact-icon {
    height: 13px;
    width: 13px;
}

.lower-header-item{
    /*margin-left: 7px;*/
}

.lang {
    margin-left: 16px;
    margin-right: 16px;
}

.footer-main-tel {
    color: #263471;
    font-weight: 700;
}

footer {
    height: fit-content;
}

.upper-footer {
    height: 81px;
    position: relative;
}

.footer-main-contact {
    margin: initial;
}

.lower-footer-background{

    background: #EFF4FC;
    height: 380px;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.lower-footer-background{
    height: 308px;
    position: absolute;
    background: #EFF4FC;
}

.footer-nav-category {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-nav-item {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.location-sign {
    height: 13.33px;
    width: 10.67px;
}

.footer-heading {
    margin-top: 30px;
}

.whatsapp-footer {
    height: 13.95px;
    width: 14px;
}

.email-icon {
    height: 9.3px;
    width: 11.6px;
}

.instagram-icon {
   height: 21px;
    width: 21px;
}

.facebook-icon {
    height: 24px;
    width: 24px;
}

.rights-reserved {
    font-size: 12px;
    font-weight: 400;
}

.footer-contact {
    margin: 1px;
    font-size: 12px;
    font-weight: 400;
}

.login-footer {
    font-size: 12px;
    font-weight: 900;
}

.open-account {
    height: 564px;
}

.open-account.background {
    background-image: url('/img/backgrounds/gradient-background.png'), url('/img/backgrounds/open-account.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 1800px 564px;
    background-position-x: right;
    background-color: white;
}

.open-account.content {
    position: relative;
}

.why-to-invest {
    height: 820px;
}

.why-to-invest.content {
    position: relative;
}

.why-to-invest.row {
    height: 820px!important;
}

.why-to-invest.background {
    background-image: url('/img/backgrounds/increasing.png');
    /*background-size: ;*/
    position: absolute;
    height: 820px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.invest-from-home {
 height: 1211px;
}

.moto {
    font-weight: 700!important;
    font-size: 40px;
    opacity: 0.9;
}

.blue1 {
    color: #263471;
}

.benefits {
    padding-left: 0;
    opacity: 90%;
    font-size:16px;
    font-weight: 400;
    margin-top: 20px;
}

.benefit-bullet{
    margin-top: 13px;
    display: inline-flex;
    align-items:center;
}

.yellow-text {
    color: #f9b719;
}

.btn-yellow {
    background:#F9B000;
    background: -webkit-linear-gradient(to bottom, #FCDA6E, #F9B000);
    background: linear-gradient(to bottom, #FCDA6E, #F9B000);
    color: #fff;
    border: 0.5px solid #F9B000;
    padding: 8px 30px 8px 30px;
    /*width: 168px;
    height: 42px;*/
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    box-shadow: 0 0 100px #F7F3E5;
}

.btn-rounded {
    border-radius: 12px;
}

.upper-footer-background {
    background: white;
    height: 81px;
    position: absolute;
}

.category-title {
    font-weight: 700;
    font-size: 28px;
    opacity: 90%;
    color: #263471;
}

.small-title {
    font-weight: 600;
    size: 20px;
    color: #252525;
    /*
    opacity: 90%;
    */
}

.white-shadow-box {
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(193, 200, 211, 0.25);
    border-radius: 8px;
    height: 78px;
    width: 411px;
    padding-top: 12px;
    padding-left: 20px;
    opacity: 90%;
    font-size: 16px;
    letter-spacing: 0.1px;

}

.round {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #F9B000;
    margin-left: -60;
    margin-top: -10;
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    font-weight: 700;
    opacity: 90%;
}

.double-arrows {
    padding-top: 25px;
    padding-left: 40px;
}

.yellow-gradient-round {
    background-image: url('/img/backgrounds/yellow-round-top.png'), url('/img/backgrounds/yellow-round-bottom.png');
    background-repeat: no-repeat;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;

}

.opportunities {
    width: 367px!important;
    height: 243px!important;
    font-size: 16px;
    font-weight: 400;
}

.par-title {
    color: #263471;
    font-weight: 600;
    font-size: 20px;
}

.item-title {
    color: #252525;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}

.kaz-tel {
    background-image: url('/img/comp-logos/kaz-tel-top.png'), url('/img/comp-logos/kaz-tel-back.png');
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -30px;
}

.es {
    background-image: url('/img/comp-logos/es.png'), url('/img/comp-logos/kaz-tel-back.png');
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -30px;
}

.company-title {
    color: #263471;
    font-weight: 600;
    font-size: 18px;
    margin-top: -10px;
    height: 54px;
}

.card-legend {
    color: #252525;
    font-weight: 400;
    size: 20px;
}

.arrow-up {
    height: 16px;
}

.line-growth {
    margin-top: -19px;
}

.gray-info-icon {
    background-image: url('/img/icons/i.png'), url('/img/icons/i-round.png');
    height: 23px;
    width: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.yellow-border-btn {
    width: 120px;
    height: 42px;
    border: 2px solid #F8C400;
    border-radius: 12px;
    background: white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.light-blue {
    background: #E1EBF9;
}

.blue-14 {
    color: #263471;
    font-size: 14px;
    font-weight: bold;
}

.light-gray-12 {
    color: #676767;
    font-weight: 400;
    font-size: 12px;
}

.black-16 {
    font-size: 16px;
    font-weight: 400;
    /*
    line-height: 120%;
    */
}

.thin-white-underline {
    border-bottom: 1px solid #FFFFFF;
}

.black-12 {
    font-size: 12px;
    color: #252525;
}
.white-border-right {
    border-right: 1px solid #FFF;
}

.step-1 {
    background-image: url('/img/icons/steps/1.png'), url('/img/icons/steps/step-1.png');
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.step-2 {
    background-image: url('/img/icons/steps/2.png'), url('/img/icons/steps/step-2.png');
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.step-3 {
    background-image: url('/img/icons/steps/3.png'), url('/img/icons/steps/step-3.png');
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.step-4 {
    background-image: url('/img/icons/steps/4.png'), url('/img/icons/steps/step-4.png');
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    display: flex!important;
    justify-content: center!important;
}


.blue-16 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #263471;
}

.p-20 {
    padding: 20px;
}

.lh-20 {
    line-height: 20px!important;
}

.h-80 {
    height: 80px;
}

.note {
    font-size: 12px;

}

.mt-5-5 {
    margin-top: 2.5rem;
}

.mt-6 {
    margin-top: 3rem;
}

.mt-7 {
    margin-top: 4rem;
}

.mt-8 {
    margin-top: 5rem;
}

.mt-9 {
    margin-top: 6rem;
}

.mt-10 {
    margin-top: 7rem;
}

.mt-11 {
    margin-top: 8rem;
}

.mt-12 {
    margin-top: 9rem;
}

.mt-13 {
    margin-top: 9.5rem;
}

.enter-your-details {
    height: 352px;
}

.details-txt-input {
    border: none;
    width: 568px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 8px;
}

.details-txt-input::placeholder {
    color: #828282;
    font-weight: 400;
    size: 16px;
    margin-left: 20px;
    padding-left: 10px;
}

.comfort-investing {
    height: 1107px;
}

.comfort-investing-main-point {
    height: 333px;
}

.comfort-investing-point {
    height: 268px;
}

.comfort-investing-p {
    font-weight: 400;
    font-size: 16px;
}

.o-90p {
    opacity: 90%;
}

.deal-bg-ci {
    background-image: url('/img/backgrounds/graph-bg-ci.png');
    background-size: 404px 220px;
    background-repeat: no-repeat;
    background-position: 50% 140%;
    display: block;
}

.link-more-details {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: underline;
}

.place-bottom {
    /*position: absolute;*/
    bottom: 0;
}

.mt-3-5 {
    margin-top: 1.25rem;
}

.mt-4-5 {
    margin-top: 2.5rem;
}

.mp-blocks-section {
    height: 838px;
}

.mp-blocks-section.content {
    position: relative;
}

.mp-blocks-section.background {
    /*background-image: url('/img/backgrounds/increasing.png');*/
    /*background-size: ;*/
    position: absolute;
    background: #E1EBF9;
    /*height: 820px;*/
/*    background-repeat: no-repeat;
    background-size:100% 100%;*/
}

.invest-ideas-box {
    height: 659px;
    padding: 20px;
}

.analytics-box {
    height: 297px;
    padding: 20px;
}

.news-box {
    height: 266px;
    padding: 20px;
}

.news-block-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-align: left;
}

.news-block-description {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 20.8px;
}

.news-block-date-source {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 15.6px;
    color: #828282;
}

.mp-company-info {
    height: 458px;
}

.mp-company-info-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #263471;
    letter-spacing: 0.1px;
}

.mp-illustration {
    height: 326px;
}

.mp-illustration.background {
    background-image:url('/img/backgrounds/table-pic-gradient.png'), url('/img/backgrounds/table-pic.png');
    background-color: #b3b7c9;
    background-repeat: no-repeat;
    background-position: center;
}

.questions-left {
    height: 530px;
}

.fw-600 {
    font-weight: 600;
}

.fw-400 {
    font-weight: 400;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.lang-drpdwn {
    position: relative;
    display: inline-block;
}

.lang-drpdwn:hover .dropdown-content {
    display: flex;
    flex-direction: row;
}

.lang-drpdwn:hover + . .dropdown-menu-background {
    display: block;
    /*display: block;*/
    /*z-index: 1000;*/
}

.lang-drpdwn:hover .dropdown-content-lang {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEF4FC;
    min-width: 160px;
    z-index: 2;
    margin-top: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
}

.dropdown-menu-background {
    width: 100vw;
    height: 48px;
    background-color: #EEF4FC;
    margin-top: -11px;
    display: none;
    z-index: 1;
    position: absolute;
}

.dropdown:hover + . .dropdown-menu-background {
    display: block;
    /*display: block;*/
    /*z-index: 1000;*/
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.catalog-category:hover + .dropdown-menu-header-bg{
    display: flex;
}

.dropdown-menu-header-bg {
    height: 48px;
    background-color: #EEF4FC;
    display: none;
}

/* catalog */

.page-title {
    color: #263471;
    font-weight: 700;
    font-size: 28px;
    opacity: 90%;
}

.search-line {
    background-color: #E1EBF9;
    border-radius: 8px;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: none;
    width: 100%;
}

.search-line-input {
    margin: 10px;
    background-color: #E1EBF9;
    border: none;
    width: 92%;
    overflow: hidden;
}

.search-line-input:focus {
    outline:none!important;
}

.img-magnifier {
    margin: 10px;
}

.tbl-key-indicators {
    border-radius: 8px;
}

.see-more {
    color: #263471;
    letter-spacing: 2px;
    font-weight: 600;
    size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    opacity:90%;
}

.see-more:hover {
    color: #F9B000;
}

.might-interest {
    height: 363px;
}

.might-interest.background {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
}

.might-interest.content {
    position: relative;
}

.open-account-request-form {
    height: 492px;
}

.stocks-table-section {
    height: 1255px;
}

.bonds-table-section {
    height: 1255px;
}

#stocks {
    width:100%;
    background-color:#f7f9fc;
    height: 957px;
}

#stocks tr {
    background-color:#f7f9fc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #E1EBF9!important;
    border: none!important;
    border-radius: 50%;
    color: #263471!important;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #263471!important;
}

div.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: black!important;

}

.dataTables_wrapper .dataTables_paginate {
    float: unset!important;
    display: flex;
    justify-content: center!important;
    font-weight: 600;

}

th {
    border-top: hidden!important;
    color: #263471!important;
    font-weight: 800!important;
    font-size: 15px!important;
}

.paginate_button {
    padding: 20px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-7.sorting {
    background-image: url('/img/icons/sort-arrow-up.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.col-sm-3.sorting {
    background-image: url('/img/buttons/chevron_down.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: end;
    padding-right: 18px;
}

.col-sm-3.sorting.sorting_asc {
    background-image: url('/img/buttons/chevron_up.png');
    background-repeat: no-repeat;
    background-position: right;

}

.col-sm-3.sorting.sorting_desc {
    background-image: url('/img/buttons/chevron_down.png');
    background-repeat: no-repeat;
    background-position: right;

}

.col-sm-2.sorting {
    background-image: url('/img/buttons/chevron_down.png');
    background-repeat: no-repeat;
    background-position: 150px;
    text-align: end;
    padding-right: 25px;

}

.col-sm-2.sorting.sorting_asc {
    background-image: url('/img/buttons/chevron_up.png');
    background-repeat: no-repeat;
    background-position: 150px;
}

.col-sm-2.sorting.sorting_desc {
    background-image: url('/img/buttons/chevron_down.png');
    background-repeat: no-repeat;
    background-position: 150px;
}

.sorting.sorting_asc.col-sm-7 {
    background-image: url('/img/icons/sort-arrow-up.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.sorting.sorting_desc.col-sm-7 {
    background-image: url('/img/icons/sort-arrow-down.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.kazahtelecom-logo {
    background-image: url('/img/comp-logos/kaz-tel-top.png'), url('/img/comp-logos/kaz-tel-back.png');
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center;
}

/* td.col-sm-3{
    height: 90px;
    text-align: center;
    vertical-align: middle;
!*    display: flex;
    align-items: center;*!
}*/

.odd{
    height: 90px;
}

.stock-company-title {
    font-size: 20px;
    color: #263471;
    font-weight: 600;
    opacity: 90%;
}

.stock-company-abbr {
    font-size: 16px;
    color: #676767;
    font-weight: 400;
}

.company-data-cell {
    text-align: end;
    vertical-align: middle!important;
}

.stocks-table tr:first-child td {
   border-top:none!important;
}

.fw-400-s-20 {
    font-weight: 400;
    font-size: 20px;
}

.gray-400-16 {
    font-size: 16px;
    font-weight: 400;
    color: #676767;
}

.bonds-company-column.sorting {
    background-image: url('/img/icons/sort-arrow-up.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.sorting.sorting_asc.bonds-company-column{
    background-image: url('/img/icons/sort-arrow-up.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.sorting.sorting_desc.bonds-company-column {
    background-image: url('/img/icons/sort-arrow-down.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.bonds-price-column.sorting {
    background-image: url('/img/buttons/chevron_down.png');
    background-repeat: no-repeat;
    background-position: 150px;
    text-align: end;
    padding-right: 25px;
}

.bonds-price-column.sorting.sorting_asc {
    background-image: url('/img/buttons/chevron_up.png');
    background-repeat: no-repeat;
    background-position: 150px;
}

.bonds-price-column.sorting.sorting_desc {
    background-image: url('/img/buttons/chevron_down.png');
    background-repeat: no-repeat;
    background-position: 150px;
}

.bonds-profit-column.sorting {
    padding-right: 30px;
}

.bonds-price-column {
    padding-right: 32px;
}

.growth-leaders-box {
    height: auto;
}

.growth-leaders-box .title {
    color: #252525;
    font-size: 15px;
    text-transform: uppercase;
    opacity: 90%;
}

.growth-leaders-box .company {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
}

.growth-leaders-box .growth-info {
    color: #219653;
    font-size: 16px;
    font-weight: 400;
}

.growth-leaders-box .fall-info {
    color: #EB5757;
    font-size: 16px;
    font-weight: 400;
}

.company-back-logo {
    background-image: url('/img/backgrounds/company-logo-back.png');
    background-repeat: no-repeat;
    height: 73px;
    width: 73px;
}

.box-blue-title {
    color: #263471;
    font-weight: 600;
    font-size: 20px;
}

.why-invest {
    height: 890px;
}

.why-invest.content {
    position: relative;
}

.why-invest.row {
    height: 890px!important;
}

.why-invest.background {
    background-image: url('/img/backgrounds/increasing.png');
    position: absolute;
    height: 890px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.why-invest-point-lower-box {
    height: 95px;
}

.percent-round {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #F9B000;
    margin-left: -80px;
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    font-weight: 700;
    opacity: 90%;
}

.percent-yellow-gradient-round {
    background-image: url('/img/backgrounds/yellow-round-top.png'), url('/img/backgrounds/yellow-round-bottom.png');
    background-repeat: no-repeat;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px!important;
    margin-left: -30px;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.lh-21 {
    line-height: 21px!important;
}

.fixed-size-pic {
    max-width: 100%;
    height: auto;
}

.usd-devaluation-pic {
    height: 83px;
    width: 77px;
}

.light-blue-link {
    color: #87C3EA;
}

.dialog-cloud {
    background-image: url('/img/backgrounds/dialog-cloud.png');
    background-repeat: no-repeat;
    background-size: auto;
    color: #F9B000;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    height: 87px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.why-enterpreneurs-invest {
    height: 717px;
}

/*.first-step-point-pic {
    background-image: url('/img/icons/steps/first-step-point-pic.png');
    !*height: 42px;*!
    background-repeat: no-repeat;
!*    margin-left: auto;
    margin-right: auto;*!
}*/

.first-step-point {
    height: 203px;

}

.why-enterpreneurs-invest-step {
    height: 42px;
    width: 42px;
}

.step-title {
    font-weight: 600;
    font-size: 16px;
}

.light-gray-700-36 {
    color: #C1C8D3;
    font-weight: 700;
    font-size: 36px;
}

.weights-pic {
    height: 203px;
    width: 352px;
}

.why-enterpreneurs-invest-description {
    height: 204px;

}

.why-enterpreneurs-invest-description.background {
    position: absolute;
    height: 204px;
}

.why-enterpreneurs-invest-description.content {
    position: relative;
    height: 204px;
    padding: 20px;
}

.where-to-start-section {
    height: 748px;
}



/* Style the tab */
.tab {
    overflow: hidden;
    /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: #263471;
    height: 31px;
    width: 168px;
    opacity: 90%;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #F9B000;
    color: #ffffff;
    opacity: 90%;
}

.tab button {
    background-color: #E1EBF9;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    padding-top: 25px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.education-info-preview {
    height: 154px;
    border-top: 1px solid #E1EBF9;
}

.education-info-preview.first {
    border-top: none;
}

.ml-8 {
    margin-left: 6rem!important;
}

.table-literature{
    height: 700px!important;
}

.table-literature tr{
    height: 82px;
}

.table-literature thead{
    display: none!important;
}

.literature-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0.1px;
}

.literature-title:hover {
    color: #404D82;
}

.cloud-download {
    height: 17px;
    width: 25px;
}

.view-only {
    height: 15px;
    width: 21px;
}

.news_tablinks {
    height: 31px!important;
    width: 239px!important;
}

.news-key-indicators-box {
    height: 266px;
    width: 368px;
    background-color: #E1EBF9;
    padding: 15px;
    box-shadow: 4px 4px 8px rgba(193, 200, 211, 0.25);
    border-radius: 8px;
}

.staff-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #252525;
}

.staff-position {
    font-size: 16px;
    line-height: 130%;
    color: #676767;
    font-weight: normal;
}

.staff-photo {
    height: 268px!important;
    width: 268px!important;
    border-radius: 50%;
}

.staff {
    height: 2001px;
}

.our-benefits {
    height: 185px;
    background-color: #F7F9FC;
}

.our-benefits-points .background{
    height: 524px;
    background-color: #ffffff;
    position: absolute;
}

.our-benefits-points .content{
    position: relative;
    height: 524px;
    opacity: 90%;
}

.benefit-point.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #263471;
}

.benefit-point.description {
    line-height: 130%;
    color: #252525;
    font-weight: normal;
    margin-top: 10px;
}

.our-benefits-text-section {
    height: 616px;
    opacity: 90%;
}

.news-tab {
    height: 31px!important;
    width: 239px!important;
}

.table-reports tr{
    height: 96px;
}

.table-reports thead{
    display: none!important;
}

.documents-section {
    height: 916px;
}

.document-title {
    color: #252525;
    line-height: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.bank-details-title {
    font-weight: 600;
    font-size: 20px;
    color: #252525;
    line-height: 38.4px;
    opacity: 90%;
}

.bank-detail-info {
    line-height: 27.24px;
    /*font-weight: 600;*/
    /*font-size: 20px;*/
    border-bottom: 1px solid #E1EBF9;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 90%;
}

.bank-details-page {
    height: 1047px;
}

.careers-page {
    height: 1044px;
}

.vacancy-title {
    font-weight: 600;
    font-size: 20px;
    color: #263471;
}

.vacancy-box {
    height: fit-content;
    padding: 30px;
}

.btn-respond {
    height:42px;
    width: 152px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 22px;
}

.btn-respond:hover {
    background:#F9B000;
    background: -webkit-linear-gradient(to bottom, #FCDA6E, #F9B000);
    background: linear-gradient(to bottom, #FCDA6E, #F9B000);
    color: #fff;
    border: 0.5px solid #F9B000;
    letter-spacing: 0.1px;
    box-shadow: 0 0 100px #F7F3E5;
}

.requrements {
    font-weight: bolder;
}

.lh-30 {
    line-height: 25px;
}

.send-resume-box {
    height: 200px;
    background-color: #E1EBF9;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(193, 200, 211, 0.25);
    /*padding: 40px;*/
}

.cv-pic {
    margin-left: -40px;
}

.contacts-list {
    height: 272px;
}

.contacts-list.background {
    height: 272px;
    background-color: #F7F9FC;
    position: absolute;
}

.contacts-list.content {
    height: 272px;
    position: relative;
}

.contacts-category {
    color: #263471;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.contacts-data {
    color: #252525;
    font-weight: 400;
    size: 16px;
    line-height: 26px;
    margin-top: 15px;
}

.feedback-form-section {
    height: 636px;
}

.details-textarea-input {
    border: none;
    width: 568px!important;
    height: 140px!important;
    background: #FFFFFF;
    border-radius: 8px;
    resize: none;
}

.details-textarea-input::placeholder {
    color: #828282;
    font-weight: 400;
    size: 16px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.registration-page {
    height: 762px;
}

.registration-tabs-section {
    height: 498px;
}

/* Style the tab */
.tab-register {
    overflow: hidden;
    /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab-register button {
    background-color: #F7F9FC;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: #263471;
    height: 42px;
    width: 204px;
    opacity: 90%;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 20px;
    border-radius: 8px;
    margin: 2px;
    white-space: nowrap;
}

/* Change background color of buttons on hover */
.tab-register button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-register button.active {
    background-color: #F9B000;
    color: #ffffff;
    opacity: 90%;
}

.tabcontent.registration-tab {
    background-color: #F7F9FC;
    padding: 20px;
    height: 456px;
    overflow: hidden;
}

.registration-radio {
    height: 20px;
    width: 20px;
}

.no-mb-label {
    margin-bottom: 0!important;
}

.centralize-content-inside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-underline {
    text-decoration: none;
}

.remove-underline:hover {
    text-decoration: none;
}

.dropbtn-lang {
    background-color: transparent;
    border: none;
}

.dropdown-content-lang {
    display: none;
    position: absolute;
    background-color: #EEF4FC;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0;
}


.dropdown-content-lang a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-lang a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content-lang {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropbtn-lang option {
    border: none;
}

select {
    -webkit-appearance: none;
    background-color: yellow;
}



.cbp-hrmenu {
    width: 100%;
    margin-top: 2em;
    border-bottom: 4px solid #47a3da;
}

/* general ul style */
.cbp-hrmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
    width: 90%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
    display: inline-block;
}

.cbp-hrmenu > ul > li > a {
    font-weight: 700;
    padding: 1em 2em;
    color: #999;
    display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
    color: #47a3da;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
    color: #fff;
    background: #47a3da;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
    display: none;
    position: absolute;
    background: #47a3da;
    width: 100%;
    left: 0;
}

.cbp-hropen .cbp-hrsub {
    display: block;
    padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
    width: 33%;
    float: left;
    padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
    content: " ";
    display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
    line-height: 2em;
}

.cbp-hrsub h4 {
    color: #afdefa;
    padding: 2em 0 0.6em;
    margin: 0;
    font-size: 160%;
    font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) {

    .cbp-hrmenu {
        font-size: 80%;
    }

}

@media screen and (max-width: 43em) {

    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }

    .cbp-hrmenu > ul,
    .cbp-hrmenu .cbp-hrsub-inner {
        width: 100%;
        padding: 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu > ul > li {
        display: block;
        border-bottom: 4px solid #47a3da;
    }

    .cbp-hrmenu > ul > li > a {
        display: block;
        padding: 1em 3em;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }

    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }

}

@media screen and (max-width: 36em) {
    .cbp-hrmenu .cbp-hrsub-inner > div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}

